jobs:
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - name: Run `nix flake check`
      run: nix flake check --show-trace -Lv
'on':
  pull_request: {}
  push:
    branches:
    - main
  workflow_dispatch: {}
